.chatList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding-right: 5px; /* space for scrollbar */
  list-style: none;
  margin: 0;
  padding: 0;
}

.chatList::-webkit-scrollbar {
  width: 6px;
}
.chatList::-webkit-scrollbar-thumb {
  background: var(--color-outline-variant);
  border-radius: 3px;
}

.chatItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  border-radius: var(--radius-sm);
  border: var(--border-width) solid transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s;
  color: var(--color-on-surface);
  background: var(--color-surface);
}

.chatItem:hover {
  border-color: var(--color-outline);
  background: var(--color-surface-container-highest);
}

.active {
  background: var(--color-secondary-container) !important;
  color: var(--color-on-secondary-container) !important;
  border-color: var(--border-color) !important;
  box-shadow: 2px 2px 0px 0px rgba(26, 26, 26, 1);
}
